tbody {
    padding: 0;
    margin: 0;
    border: 0
}

thead {
    padding: 0;
    margin: 0;
    border: 0
}

.table {    
    width:100vw;
    border:1px solid black;    
    border:0;
    margin:0;
    padding:0
}


.settings {
    width: 50%;
    border:1px solid black;
}
 
.display {
    width: 50%;
    border:1px solid black;
}